body{

    background:#6495ED;        

}         

.content{

    display:flex;      
    align-items:center;      
    flex-direction:row;        
    justify-content:center;    
    margin-top:180px;
}                

.content .form{

background:#4F4F4F;        
text-align:center;   
height:330px;      
width:400px;      
margin-top:-60px;

}    

input[type="email"]{

margin-top:20px;
padding:8px;      
outline:none;
border:none;    
font-size:15px;  

}    

input[type="password"]{

margin-top:20px;
padding:8px;     
outline:none;   
border:none;      
font-size:15px;  

}   

.alert{

color:yellow;        
font-weight:500;
margin-top:30px;  
font-size:15px;

}     

.recuperar{

color:white; 
margin-left:-120px;     

}

.cadastro{

color:white;  
margin-left:-35px; 


}



.content .form input[type="email"],input[type="password"]{

display:block;    
width:250px;
margin-left:70px;      

}    

input[type="submit"]{

width:265px;
display:block;
margin-left:70px;  
margin-top:20px;
font-size:15px;
padding:8px;     
outline:none;   
border:none;     
background:#3CB371;       
color:white;  
transition:0.5s;      

}        

input[type="submit"]:hover{

background:#228B22;    

}

.title .title2{

font-size:25px;   
font-weight:500px; 
color:white;  
margin-top:60px;        

}     

a{

text-decoration:none;   
color:white;    
transition:0.5s;     

}    

a:hover{

color:yellow;    

}
       